@model ToDo
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@*Form created*@
<form action="home/postTodo" method="post">
    <div class="col-lg-12">
        <div class="col-lg-12">
            <label>
                <b>
                    Title
                </b>
            </label>
            <input type="text" asp-for="Title" />
        </div>
        <div class="col-lg-12">
            <label>
                <b>
                    Description
                </b>
            </label>
            <input type="text" asp-for="Description" />
        </div>

        <label>
            <b>
                Completed
            </b>
        </label>
        <input type="checkbox" asp-for="Completed">
    </div>


    <button type="submit">Send</button>
</form>


@{
    List<ToDo> todos = ViewBag.TodoList;    // Retrieve sent data from homecontroller


    <h3>In completed List</h3>
    <br />
    foreach (ToDo item in todos)    // Pause drawn list with foreach

    {
<div>
    <div>Id :@item.Id</div>
    <div>Title :@item.Title</div>
    <div>Completed :@item.Completed</div>
    <div>Description :@item.Description</div>
    <br />
</div>

    }
}